
backend/AppDoctorBackend/AppDoctorBackend.Web/obj
backend/AppDoctorBackend/AppDoctorBackend.Web/bin

backend/AppDoctorBackend/AppDoctorBackend.Infrastructure/obj
backend/AppDoctorBackend/AppDoctorBackend.Infrastructure/bin

backend/AppDoctorBackend/AppDoctorBackend.ApplicationCore/obj
backend/AppDoctorBackend/AppDoctorBackend.ApplicationCore/bin
